<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>Preview</title>
</head>
<body>
<main layout:fragment="content" class="preview-page">
    <section class="cart">
        <h2>Cart</h2>
        <div class="order-summary">
            <ul class="order-summary-list">
                <li class="order-summary-list-list-item" th:each="item: ${cart.cartItems}">
                    <img th:src="'/images/' + ${item.name} + '.png'" class="order-summary-list-list-item-image" alt="">
                    <p class="order-summary-list-list-item-title" th:text="${item.name}"></p>
                    <p class="order-summary-list-list-item-price"
                       th:text="${(item.amount / 100d)} + ' ' + ${item.currency}"></p>
                </li>
            </ul>
            <a th:href="@{cart-api/add(name='headphones', type=${type})}">
                <p class="button">Add headphones</p>
            </a>
            <a th:href="@{cart-api/add(name='sunglasses', type=${type})}">
                <p class="button">Add sunglasses</p>
            </a>
        </div>
        <div class="cart-footer"><span class="cart-footer-label">Total:</span><span
                class="cart-footer-amount" th:text="${totalAmount / 100d}"></span>
            <a th:href="@{/checkout(type=${type})}">
                <p class="button">Continue to checkout</p>
            </a>
        </div>
    </section>
</main>
</body>
